<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

<style>
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
	 * {
	font-family: 'Nanum Gothic', serif;
	 }
	
	 footer{
	padding-bottom : 100px;
	background : black;
	 }
	 #menubar {
	 	margin-top : 100px;
	 }
	 #menubutton {
	 	width: 100%;
	 }
</style>
<title>Insert title here</title>
</head>
<body background="gray">
  <header>
    <h2 align="center">관리자 페이지</h2>
      <img src="../image/city1.PNG" height="60px">
      <div id="logout" align="right">관리자님 환영합니다&nbsp;<a href="#" class="btn btn-default" role="button" ><i class="fas fa-sign-out-alt"></i>&nbsp;로그아웃</a></div>
  </header>

  <nav class="navbar navbar-inverse" id="menubar">
        <ul class="nav navbar-nav">
          <li id="menubutton"><a href="#" >회원정보</a></li>
          <li id="menubutton"><a href="#" id="menubutton">상품정보</a></li>
          <li id="menubutton"><a href="#" id="menubutton">상품판매량</a></li>
          <li id="menubutton"><a href="#" id="menubutton">배송정보</a></li>
        </ul>
  </nav>


  <footer>
    <hr>
	  <br><br><br>
		<div align="center">
			<p><i class="fab fa-facebook-f"></i>&nbsp;&nbsp;&nbsp;<i class="fab fa-twitter"></i>&nbsp;&nbsp;&nbsp;<i class="fab fa-instagram"></i></p>
			<p>팀명 : 식사는 하셨조 | 팀원 : 유기환, 한정란, 박승정, 이훈택, 유민수</p>
			<p>사업자등록번호 : 103-17-24162 | 통신판매업신고번호 : 제 2016-서울서대문-0066</p>
			<p>서울특별시 강남구 테헤란로 14길 6</p>
			<p>고객지원 : 문의 게시판 또는 010-4949-4949 (운영시간 12:00 ~ 13:00 주말/공휴일은 제외)</p>
			<p>이용약관 | 개인정보처리방침</p>
		</div>
  </footer>
</body>
</html>